/* roboto regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* sections */
.section-start {
    border-bottom: 1px solid #dcd9d9;
}

.section-Even {
    background-color: whitesmoke;
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.3), inset 0 5px 5px rgba(0, 0, 0, 0.3);
}

.section-Odd {
    border-block: 1px solid #dcd9d9;
}

.about, 
.experience, 
.education, 
.Certifications, 
.Projects, 
.Skills, 
.Contact {
    padding: 3.125rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 2rem;
}

/* header */

/* lead */
.lead {
    background-image: url('../assets/images/lead-BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.bg-color {
    width: 100%;
    height: 100%;
    background-color: rgba(33,125,187, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
}

 .lead-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead-content > h1 {
    color: white;
    text-transform: capitalize;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.lead-content > h2 {
    color: 	rgb(135,206,250);
    text-transform: capitalize;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.lead-content > a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
}

.lead-content > a:hover {
    background-color: white;
    color: rgba(33,125,187, 0.7);
}

.lead-chevron-down {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(135,206,250);
    border-radius: 50%;
}

/* about me */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text-container > p {
    margin-bottom: 1rem;
}

.portrait {
    height: 20rem;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    margin-left: 0.5rem;
}

/* experience */

/* education */
.education-cards {
    display: flex;
    flex-direction: column;
}

.education-card {
    padding: 1rem;
    margin: 0 auto 2rem auto;
    border: 1px solid #dcd9d9;
    width: 70%; /* 44rem */
    display: flex;
    flex-direction: column-reverse;
}

.education-card-header {
    display: flex;
    flex-direction: column;
}

.education-card-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* certifications */
.certification-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;
}

.certification-card {
    margin: 0 auto 2rem auto;
    border: 1px solid #dcd9d9;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.certification-card-text {
    border-top: 1px solid #dcd9d9;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certification-card-title-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
}

.certification-card-text > p {
    text-align: center;
    margin-bottom: 1rem;
}

.certification-card-text > a {
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}

.certification-card-text > a:hover {
    color: rgba(33,125,187, 0.7);
}

/* projects */
.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-card {
    border: 1px solid #dcd9d9;
    display: flex;
    flex-direction: row;
}

.project-card > img {
    width: 18.75rem;
    height: 18.75rem;
}

.project-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.project-card-title-row,
.project-card-text > p{
    margin-bottom: 1rem;
}

.project-card-text > a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

.project-card-text > a:hover {
    color: rgba(33,125,187, 0.7);
}

/* skills */
.skill-cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5rem;
    width: fit-content;
}

.skill-card > img {
    width: 6rem;
    height: 6rem;
}

/* contact */
.Contact {
    background-color: rgb(33,125,187);
}

/* footer */